@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

*{
    font-family:'Dosis', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}

.contenedorLogin{

    width: 804px;
    height: 500px;
    bottom: 145px;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.bloque{
    width: 804px;
    height: 150px;
}
.logo{
    display:block;
    padding: 30px;
    float:right;
    width: 113px;
    height: 85px;

}

.bloqueiconos{
    margin-top: 30px;
}
.content{
    text-align: center;
    display:block;
}

.boton {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#fff;
padding-top:10px;
padding-bottom:10px;
padding-left:30px;
padding-right:30px;
background-color:#4311B9;
border-color: #4311B9;
border-width: 3px;
border-style: solid;
border-radius:35px;
}

h1{
    margin-left: 150px;
    margin-top: -100px;
}

.tabla{
    margin-left: 145px;
    width: 500px;
}


table{
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
    width: 100%;
}

th, td{
    padding: 5px;
}

thead{
    background-color: #fff;
}

tr:nth-child(odd) td{
    background-color: #F5F5F5;
}

.button {
    background-color: #4311B9;
    color: #fff;
    border: solid #4311B9;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.buttonblue {
    margin-bottom: 15px;
    margin-left: -190px;
    background-color: #4311B9;
    color: #fff;
    border: solid #4311B9;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.buttoneditar{
    margin-top: 50px
    margin-bottom: 15px;
    margin-left: -190px;
    background-color: #4311B9;
    color: #fff;
    border: solid #4311B9;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.button2{
    margin-top: 50px
    margin-bottom: 15px;
    background-color: #4311B9;
    color: #fff;
    border: solid #4311B9;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.button3{
    margin-top: 30px;
    margin-left: 130px;
    background-color: #4311B9;
    color: #fff;
    border: solid #4311B9;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}


.buttonred {
    background-color: #dd2121;
    color: #fff;
    border: solid #dd2121;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 130px;
}

label{
    margin-left: 10px;
}

#id_nota{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    font-weight: bold;
}

#id_comentario{
    margin-bottom: 33px;
    font-size: 16px;
    font-weight: bold;
}

.nuevo{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: -120px;
    margin-bottom: -10px;
    margin-left: 50px;
}

