{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>FemCoders</title>
</head>
<body>
    <section class="contenedorLogin">
        <div class="bloque">
            <img src="/static/img/Logo-FemCodersF5-color-1024x764 (3).png" class="logo">
        </div>
        <div class="content">
             {% block content %}

                {% endblock content %}
        </div>
    </section>
        <div class="bloqueiconos">
            <a href="{% url 'evaluacion' %}">
            <button class="boton">Atrás</button>
            </a>
            <a href="#">
            <button class="boton">Cerrar sesión</button>
            </a>
        </div>
</body>
</html>