{% extends 'base.html' %}
{% load static %}

{% block content %}


<h1>Evaluación</h1>
<a href="{% url 'nuevaevaluacion' %}">
    <button class="buttonblue">Añadir Evaluación</button>
     </a>

<div class="tabla">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Detalles</th>
                <th>Notas</th>
                <th>Opciones</th>
                <th>Comentarios</th>
            </tr>
        </thead>
        <tbody>
        {% for e in evaluacion %}
        {% for a in evaalumn %}
            <tr>
                <td>{{a.nombre}}</td>
                <td><a href="perfilAlumno/{{a.id}}">
                    <button class="button">Perfil</button>
                    </a></td>
                <td>{{e.nota}}</td>
                <td><a href="{% url 'ponernota' e.id %}">
                    <button class="button">Editar</button></a>
                    <a href="{% url 'eliminar' e.id %}">
                    <button class="buttonred">Eliminar</button>
                    </a></td>
                <td>{{e.comentario}}</td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}