<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/estilologin.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>
    <section class="contenedorLogin">
        <div>
            <img class="logo" src="img/lOGOFEM_LOGIN.png">
        </div>
        <div>
            <ul>
                <li>
                    <input placeholder="Usuario" type="text" required>
                </li>
                <li>
                   <input placeholder="Contraseña" type="text" required>
                </li>
                <li class="recordar">
                    <link>*Recordar Contraseña</link>
                </li>
            </ul>
        </div>
        <div>
            <button href="" class="boton"> Ingresar </button>
        </div>

    </section>
</body>
</html>